node_modules
.scannerwork
sonar-scanner.sh
now.json

# Cruft
.DS_Store
npm-debug.log
.idea

public/*.eot
public/*.svg
public/*.woff2
public/*.ttf
public/*.woff
public/*.js
public/*.gz
public/*.css
public/views
