.login-container {
  .quotes__box,
  .fields__box {
    position: absolute;
    width: 100%;
    padding: 30px;
    opacity: 0;
    -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
    transition: opacity 0.45s, -webkit-transform 0.45s, -moz-transform 0.45s, -o-transform 0.45s, transform 0.45s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .quotes__box {
    @include background-opacity($primary-color, 0.9);
    display: flex;
    height: 100%;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  .fields__box {
    display: flex;
    height: 100%;
    background: #fff;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  &__form {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;

    &__quotes,
    &__fields {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
    }

    &.active {
      .quotes__box,
      .fields__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
        opacity: 1;
        z-index: 2;
      }

      .fields__box {
        align-items: center;
      }

      .quotes__box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &--text,
        &--author {
          display: flex;
          align-items: center;
          line-height: 1.7;
          color: $primary-text-color;
          justify-content: center;
          text-align: center;
        }

        &--text {
          font-size: 20px;
          font-style: italic;
        }

        &--author {
          font-size: 14px;
          text-transform: capitalize;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .login-container {
    .quotes__box,
    .fields__box {
      padding: 0 30px;
    }

    .quotes__box {
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
    }

    .fields__box {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }

    &__form {
      flex-direction: row;

      &__quotes,
      &__fields {
        width: 50%;
      }

      &.active {
        flex-direction: row;
        .quotes__box,
        .fields__box {

        }

        .fields__box {

        }

        .quotes__box {


          &--text,
          &--author {

          }

          &--text {
            font-size: 36px;
          }

          &--author {
            font-size: 24px;
          }
        }
      }
    }
  }
}
